body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    background-color: black;
    color: #730d76;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

.animacion-3d {
    background-color: black;
    padding: 1em;
    text-align: center;
}

.animacion-3d iframe {
    height: 70vh;
}

.imagenes-titulo,
.video-titulo {
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}

.imagenes-titulo h2 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #00aced;
    margin: 0;
    padding: 0.5em;
    border-bottom: 2px solid #00aced;
    display: inline-block;

}


.video-titulo h2 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #00aced;
    margin: 0;
    padding: 0.5em;
    border-bottom: 2px solid #00aced;
    display: inline-block;
}

.media {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.imagen-container {
    margin: 0 5px; 
}

.imagen-container img {
    max-width: 100%; 
    height: auto;
    transition: transform 0.3s ease-in-out;
    display: block;
    border: 2px solid #730d76;
    border-radius: 10px;
}

.imagen-container:hover img {
    transform: scale(1.05); 
}

.video {
    background-color: black;
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
}

.video-container:hover {
    transform: scale(1.05);
}

.video-container iframe {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
